<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i>  <span class="light">Start</span> portfolio
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">Ruby</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">JAVA</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">기획 企画</a>
                </li>
                <li>
                    <a class="page-scroll" href="#map"><i class="glyphicon glyphicon-envelope"></i></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Choi portfolio</h1>
                    <p class="intro-text">始めます。<br>例えば</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>나에게 루비란</h2>
            <p>우선은 튜트리얼</p>
            <p><a href="http://gratisography.com/">Gratisography</a> <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
              <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">githut</a>
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">

    <div class="download-section">


        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>JAVA</h2>
                <p>우선은 자바 한것을 캡쳐해서 슬라이더 만들기</p>
            </div>
        </div>





    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Start Bootstrap</h2>
            <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
            <p><a href="#">Hello</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="#" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Map Section -->
<div id="map" class="map2"></div>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Your Website 2018</p>
    </div>
</footer>
